// Colours
$grey: #333333;

// Nav colours
$nav-background:  $grey;
$nav-text-colour: white;

// Clock variables
$clock-text-colour:   white;
$clock-bg-colour:     #b5d0e2;
$clock-border-colour: #2099e8;
